.grid-container {
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 20vh 20vh;
    align-content: center;
    justify-content: center;
    grid-gap: 60vh 10vw;
    padding: 0;
  }
  
  .grid-container > div {
    text-align: center;
    padding: 8.7vh; 
    font-size: 2.5vh;
  }

  .timeoutinfo{
    text-align: center;
    font-size: 200%;
    margin-top: 50px;
    color: red;
  }